<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Prediction Form</h1>
        <form id="predictionForm" action="/predict" method="POST">
            <label for="inputText">Enter Text:</label>
            <input type="text" id="inputText" name="inputText" required>
            <button type="submit">Predict</button>
        </form>
        <div id="predictionResult">
            <h2>Prediction:</h2>
            {% if prediction %}
                <p id="predictedValue">{{ prediction }}</p>
            {% else %}
                <p id="predictedValue">No prediction yet.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>